<div class="footer">
	<div class="layout-footer">
		<div class="logos"></div>
		<div class="content">
			<p class="footer_nav">
				<a href="#">配送范围</a>
				<span>|</span>
				<a href="#">帮助中心</a>
				<span>|</span>
				<a href="#">品牌故事</a>
				<span>|</span>
				<a href="#">关于我们</a>
				<span>|</span>
				<a href="#">招纳贤士</a>
			
			</p>
			<p class="hotline">
				<span>客服热线:</span>
				<span class="tel">400-921-5757</span>
			</p>
		</div>
		<div class="right">
			
			<div class="imgs"></div>
			<p class="text">微信订购更方便</p>
			
		</div>
		
	</div>
</div>
<div class="cons">
	<div class="conss">
		<p>
		<span>Copyright ©2012-2017 上海印克电子商务股份有限公司 版权所有</span>
		<span>沪ICP备12045835</span>
		<span>沪公网安备31010802001150</span>
	</p>
	</div>
	
</div>