<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/conpont/gouwuche.css">
		<script src="/libs/require/require.js"data-main ="/js/gouwuche.js"></script>
	</head>
	<body>
		<header></header>
		<div class="basket_page">
			<div class="basket_header">
				<div class="title">
					<h2>SHOPPING BASKET</h2>
					<p class="heng">
						<span>购物篮</span>
					</p>
				</div>
				<div class="process">
					<div class="step active">
						<p class="wo">我的购物篮</p>
					</div>
					<div class="step2">
						<p class="wo1">填写和提交订单信息</p>
					</div>
					<div class="step3">
						<p class="wo2">成功提交订单</p>
					</div>
					<div class="line line2 activ"></div>
					<div class="line line1"></div>
				</div>
			</div>
			<div class="container">
				<div class="list">
					<p class="list_header">
						<span class="btn">
							<i>全选</i>
						</span>
						<span class="h_product">商品</span>
						
						<span class="h_attr">属性</span>
						
						<span class="h_amout">数量</span>
						<span class="h_spec">规格</span>
						<span class="h_price">单价</span>
						<span class="h_privi">优惠</span>
						<span class="h_operate">操作</span>
					</p>
					<div class="list_container" id="bbb">
						
					
					</div>
					<div class="tu"><a href="/" class="empty"></a></div>
					<div class="list_footer">
						<p class="footer_check">
							<span class="f_check">全选</span>
						</p>
						<div class="footer_container">
						<!--<p class="box">
							<span class="cbx">已选0件商品</span>
							<span class="yun">(不包含运费)</span>
						</p>-->
						<p class="clearfixs">
							<span>共</span>
							<span class="dollor">￥</span>
							<span class="money" id="mons">0.00</span>
						</p>
						<a href="javascript:;" class="btn_se">去结算</a>
					</div>
					</div>
					
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
</html>
