<!--头部-->
<script src="/js/header.js"></script>
<div class="layout">
	<div class="header">
	<a href="#" class="logo"></a>
	<ul class="navs">
		<li class="diyi"><a href="/">首页</a></li>
		<li class="sub"><a href="#">蛋糕管</a>
			<p class="subs"></p>
			  <ul class="subnav">
                                <li>芝士系列</li>
                                <li>巧克力系列</li>
                                <li>拿破仑系列</li>
                                <li>慕斯系列</li>
                                <li>乳脂系列</li>
                                <li>选拼系列</li>
                            </ul>

		</li>
        <li class="new"><a href="#">特惠商城</a></li>
        <li class="newss"><a href="#">INLIFE</a>
        	<p class="news"></p>
        	<ul class="subnav_t">
        		<li>下午茶</li>
        	</ul>
        </li>
        <li class="two"><a href="#">企业专区</a>
        	<p class="twos"></p>
        	   <ul class="subnav_h">
                                <li>企业VIP登录</li>
                            </ul>

        </li>
        <li><a href="#">卡券兑换</a></li>
	</ul>
	 <p class="stock-code">股票代码：837489</p>
                    <!-- portal begin -->
                    <div class="portal">
                        
                       
                            <a href="/html/component/login.html" class="login">登录</a>
                            <span>|</span>
                            <a href="/html/component/register.html" class="register">注册</a>
                        </div>
                        <div class="login_active">
                        	<p class="info">13547342935</p>
                        	<ul class="plist">
                        		<li class="last">
                        			<a href="" class="tuichu">退出</a>
                        		</li>
                        	</ul>
                        </div>
              <div class="disket">
              	<a href="/html/component/gouwuche.html" class="view">
              	<span id="shopCart">0</span>
              	</a>
              </div>
               <div class="diskets">
              <span class="arrow"></span>
              	<p id="min">上海</p>
              </div>

	</div>
</div>
<!--banner图-->
	