<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/conpont/login.css">
		<script src="/libs/require/require.js"data-main = "/js/login.js"></script>
	</head>
	<body>
		
		<header></header>
		<div class="container">
			<div class="page_container">
				<div class="login_logo"></div>
				<div class="login_modeo">
					<ul class="modeo_number">
						<li class="login_title">LOGIN</li>
						
						<li><input type="text" class="uName" name="uName" placeholder="请输入用户名/手机号码"</li>
						<li><input type="password" class="uPwd"name="uPwd" placeholder="请输入密码"</li>
						<li class="other_options"><a href="#" class="forget_pwd">忘记密码</a></li>
						<li><button class="btn_logo">登&nbsp;录</button></li>
						
						<li>
							<p id="rer_tip">用户名或密码错误，请重新输入!</p>
							<p class="modeo_change">还是不是会员？
						<a href="/html/component/register.html" class="btn_register">手机号注册登录</a>
						</p></li>
					</ul>
					<p class="tip_phone">
						<span><img src="../../images/mode-phone-tip.png"</span>
						<a href="javascript:;"><img src="../../images/erweima.png"></a>
					</p>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
</html>
